<a href="https://colab.research.google.com/github/martha-rincon-lopez/Proyectos/blob/main/Ejercicios_R_Cap%C3%ADtulo_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Capítulo 5: Funciones básicas de R**

1. ¿Qué cantidad de dinero sobra al repartir $10000 entre 3 personas?

In [ ]:
x<-10000%%3
x

[1] 1

2. ¿Es el número 4560 divisible por 3?

In [ ]:
ifelse(4560%%3==0, 'Es divisible por 3', 'No es divisible por 3')

[1] "Es divisible por 3"

3. Construya un vector con los números enteros del 2 al 87. ¿Cuáles de esos números son divisibles por 7?

In [ ]:
vector <- c(2:87)

divisibles <- c(ifelse(vector %% 7 == 0, vector , ''))
divisibles[divisibles == vector]

 [1] "7"  "14" "21" "28" "35" "42" "49" "56" "63" "70" "77" "84"

4. Construya dos vectores, el primero con los números enteros desde 7 hasta 3, el segundo vector con los primeros cinco números positivos divisibles por 5. Sea A la condición de ser par en el primer vector. Sea B la condición de ser mayor que 10 en el segundo vector. ¿En cuál de las 5 posiciones se cumple A y B simultáneamente?

In [ ]:
vector1 <- c(7:3)

contador1 <- 0 #contador de numeros
num.div <- 1 #contador de números divisibles por 5
historial1 <- NULL #vector vacio para almacenar
while (num.div < 6){
  contador1 <- contador1 + 1
  historial1[num.div] <- contador1
  if(contador1 %% 5 == 0){
    num.div <- num.div + 1
  }
}
vector2 <- c(historial1)

Ambos <- c(ifelse(vector1 %% 2 == 0 & vector2 > 10 , rank(-vector1) , ''))
print('la posición ')
Ambos[Ambos== rank(-vector1)]

[1] "la posición "

[1] "4"

5. Consulte este enlace en el cual hay una anéctoda de Gauss niño. Use R para obtener el resultado de la suma solicitada por el profesor del niño Gauss.

In [ ]:
sum(1:100)

[1] 5050

6. Construya un vector con los siguientes elementos: 1, -4, 5, 9, -4. Escriba un procedimiento para extraer las posiciones donde está el valor mínimo en el vector.

In [ ]:
vector3 <- c(1, -4, 5, 9, -4)
which(vector3 == min(vector3))

[1] 2 5

7. Calcular 8!

In [ ]:
prod(1:8)

[1] 40320

8. Evaluar la suma ![ej 7.png]()

In [ ]:
x1 <- 0
for(i in 3:7){
  x1 <- x1 + exp(i)
}
x1

[1] 1723.159

9. Evaluar la siguiente productoria: ![cap 5 ej 9.png]()

In [ ]:
x2 <- 1
for(i in 1:10){
  x2 <- x2*log(sqrt(i))
}
x2

[1] 0

10. Construya un vector cualquiera e inviertalo, es decir, que el primer elemento quede de último, el segundo de penúltimo y así sucesivamente. Compare su resultado con el de la función rev.

In [ ]:
v4 <- c(1, 2, 3, 4, 5)
lon <- length(v4)

for (i in lon:1){
  ind <- lon - (lon - i)
  x_inv <- c(v4[ind])
  print(x_inv)
}

[1] 5
[1] 4
[1] 3
[1] 2
[1] 1

In [ ]:
rev(v4)

[1] 5 4 3 2 1

11. Create the vector:  **1, 2, 3, ..., 19, 20**

In [ ]:
v5 <- c(1:20)
v5

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

12. Create the vector: **20, 19, ..., 2, 1**

In [ ]:
v6 <- c(20:1)
v6

 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

13. Create the vector: **1, -2, 3, -4, 5, -6, ..., 19, -20**

In [ ]:
v7 <- c(1:20)
v8 <- ifelse(v7 %% 2 == 0, v7 * -1, v7)
v8

 [1]   1  -2   3  -4   5  -6   7  -8   9 -10  11 -12  13 -14  15 -16  17 -18  19
[20] -20

14. Create the vector:** 0.1^3, 0.2^1, 0.1^6, 0.2^4, ..., 0.1^36, 02^34**

In [ ]:
v9 <- rep(x=c(0.1,0.2), len=24)

 [1] 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1 0.2 0.1
[20] 0.2 0.1 0.2 0.1 0.2

15. Calcule lo siguiente: ![cap 5 ej 15.png]()

In [ ]:
x3 <- 0
for(i in 10:100){
  x3 <- x3 + i^3 + (4*i^2)
}
x3

[1] 26852735

In [ ]:
x4 <- 0
for(i in 1:25){
  x4 <- x4 + ((2^i/i) + (3^i/i^2))
}
x4

[1] 2129170437

En R hay unas bases de datos incluídas, una de ellas es la base de datos llamada mtcars. Para conocer las variables que están en mtcars usted puede escribir en la consola ?mtcars o también help(mtcars). De la base mtcars obtenga bases de datos que cumplan las siguientes condiciones.

In [ ]:
help(mtcars)

Los datos se extrajeron de la revista estadounidense Motor Trend de 1974 y comprenden el consumo de combustible y 10 aspectos del diseño y rendimiento del automóvil para 32 automóviles (modelos 1973 - 74)

Un marco de datos con 32 observaciones sobre 11 variables (numéricas)

*   **mpg** Millas/ galón (EE.UU.)
*   **cyl** Número de cilindros
*   **disp** Desplazamiento
*   **hp** Potencia bruta
*   **drat** Relación del eje trasero
*   **wt** Peso (1000 lbs)
*   **qsec** 1/4 de milla de tiempo
*   **vs** Motor (0 = forma de V, 1= recto)
*   **am** Transmisión ( 0 = automática, 1 = manual)
*   **gear** Número de marchas hacia adelante
*   **carb** Número de carburadores

In [ ]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

22. Autos que tengan un rendimiento menor a 18 millas por galón de combustible.

In [ ]:
subset(mtcars, subset = mpg < 18)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

23. Autos que tengan 4 cilindros.

In [ ]:
subset(mtcars, subset = cyl == 4)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

24. Autos que pesen más de 2500 libras y tengan transmisión manual.

In [ ]:
subset(mtcars, subset = wt > 2.5 & am == 1)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Ford Pantera L 15.8 8   351  264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino   19.7 6   145  175 3.62 2.770 15.50 0  1  5    6
Maserati Bora  15.0 8   301  335 3.54 3.570 14.60 0  1  5    8
Volvo 142E     21.4 4   121  109 4.11 2.780 18.60 1  1  4    2